
.stale {
  opacity: 60%;
}

.channel {
  font-family: monospace;
  max-width: 20em;
}

.agetd {
  max-width: 15em;
}

#alerts {
    margin-top: 10px;
}

.issue-age {
    display: inline-block;
    min-width: 6em;
}

.github {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: monospace;
}

.hydra {
  max-width: 20em;
}

#channel-status {
  max-width: 100%;
}

.jsfallback {
    font-weight: bold;
    font-style: italics;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.label {
    margin-right: 0.2em;
}

.logo {
    margin-right: 5px;
    padding-right: 0;
    transition: transform .2s;
}

a:hover img.logo {
    transform: rotate(120deg);
}


@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: #1f1f1f;
    }
    body, div.popover {
        background-color: #1f1f1f;
        color: #fafafa !important;
    }
    a.hydra-link {
        color: #0056b3;
    }

    /*
    Navbar
    */
    div.navbar-inner {
        background-color: #303030 !important;
        border-bottom: solid 1px #404040;
        background-image: none;
    }

    .brand a,
    .brand a:hover,
    .navbar .nav > li > a {
        color: #fafafa;
        text-shadow: none;
    }

    .caret {
        border-top: 4px solid #fafafa;
    }

    .dropdown-menu {
        background-color: #1f1f1f;
    }

    ul.dropdown-menu a {
        color: white;
    }

    ul.dropdown-menu li:hover a {
        background-color: #2f2f30;
        color: white;
        background-image: none;
    }

    .navbar a:hover {
        color: #fafafa !important;
    }

    /*
    Table
    */
    .table-striped tr:nth-of-type(2n+1) td {
        background-color: initial !important;
    }

    td {
        border-color: #404040 !important;
    }

    /*
    Labels
    */
    .label {
        color: #fafafa;
    }

    .label-success {
        background-color: #22aa22;
    }

    .label-warning {
        background-color: #f07111;
    }
}
